.date-label img {
  height: calc(10px + 1vw);
  width: auto;
  padding-right: 10px;
  vertical-align: middle;
}

.date-label p {
  display: inline;
  font-size: calc(13px + 1vw);
  vertical-align: middle;
}
