.team {
  margin-top: 1rem;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 1vw;
  column-gap: 1vw;
}

.team h1 {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: calc(10px + 1.8vw);
  margin: auto;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.logo {
  margin: auto;
  height: calc(40px + 2vw);
  width: auto;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.remove {
  margin: 0;
  padding: 0;
  background-color: white;
  border: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.remove img {
  height: calc(20px + 2vw);
  width: auto;
}

.remove:active,
.remove:hover {
  background-color: white;
}

.show {
  margin: auto;
  font-size: calc(5px + 1vw);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
