.team {
  margin-top: 1rem;
  max-width: 30rem;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.team h1 {
  padding: 0;
  margin: 0;
}

.logo {
  margin: 0;
  height: calc(40px + 2vw);
  width: auto;
}

.remove {
  margin: 0;
  padding: 0;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.remove img {
  height: calc(20px + 2vw);
  width: auto;
}

.remove:active,
.remove:hover {
  background-color: white;
}

.show {
  margin: 1rem 0;
  width: 100%;
}
