.attribution {
  height: fit-content;
  width: fit-content;
  display: grid;
  position: fixed;
  bottom: 0;
  padding-left: 1rem;
  opacity: 0.4;
  align-items: center;
}

.attribution p {
  margin: auto;
  padding-top: 1rem;
  font-size: calc(5px + 1vw);
}

.attribution a {
  font-size: calc(4px + 1vw);
  margin: auto;
}

.sourceCode {
  font-size: calc(8px + 1vw);
  font-weight: bold;
}
