.infoModal {
  margin-top: 5rem;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  opacity: 0.4;
  transition: all 0.3s ease-out;
  z-index: 3;
}

.valid {
  background-color: #14883b;
}

.invalid {
  background-color: #e01e1e;
}

.infoModal h1 {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  color: #ffffff;
}

.infoModal a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
}

.infoModal a:hover,
.infoModal a:active,
.infoModal a.active {
  color: rgb(184, 181, 181);
}

.enterActive {
  animation: openModal 1s ease-out forwards;
}

.exitActive {
  animation: closeModal 0.4s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0.4;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 0.4;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
