.score-teams {
  padding-top: 10px;
}

.score-teams h1 {
  display: inline;
  padding: 10px;
  vertical-align: middle;
}

.score-teams img {
  height: 32px;
  width: auto;
}

.score-teams button {
  border: 0;
  background-color: white;
  vertical-align: middle;
}

.score-teams button:active,
.score-teams button:hover {
  background-color: white;
}
