.score-teams {
  padding: 10px 0 0 0;
}

.score-teams h1 {
  display: inline;
  padding: 0.3vw;
  vertical-align: middle;
}

.score-teams img {
  height: calc(10px + 2vw);
  width: auto;
}

.score-teams button {
  border: 0;
  background-color: white;
  vertical-align: middle;
}

.score-teams button:active,
.score-teams button:hover {
  background-color: white;
}
