.account {
  margin-top: 8rem;
  position: absolute;
  top: 0;
  display: grid;
  text-align: center;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: fit-content;
}

.account h1 {
  margin: auto;
  padding-bottom: 1rem;
  text-align: center;
}

.delete {
  background: none;
  color: #252525;
  border: none;
  padding-bottom: 2rem;
}

.delete:hover,
.delete:active {
  color: red;
  background: none;
}
