.searchBar {
  padding: 2vw;
  opacity: 0.7;
  text-align: center;
}

.searchBar input,
.searchBar select {
  font: inherit;
  font-size: calc(10px + 1.5vw);
  padding: 0.3vw;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: calc(4rem + 30vw);
  max-width: 100%;
  text-align: center;
}

.searchBar input:focus {
  outline: none;
  border-color: #4d8143;
  background-color: #c0eeb7;
}
