body {
  background: #e8e9e8;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: calc(1rem + 0.8vw);
}

h1 {
  /* font-family: 'Comfortaa', cursive; */
  font-size: calc(1rem + 1vw);
}

button {
  font-size: calc(1rem + 0.4vw);
  margin: auto;
  background-color: #165f04;
  color: white;
  border: 1px solid #08500c;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}

button:hover,
button:active {
  background-color: #08500c;
  border-color: #165f04;
}

.centered {
  margin: 8rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
}

.error-text {
  color: #b40e0e;
}

.info {
  text-align: center;
}

.info p {
  margin: 0.4vw;
  font-size: calc(0.8rem + 0.8vw);
}