.score-label img {
  height: calc(20px + 1.5vw);
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: middle;
}

.score-label p {
  display: inline;
  font-size: calc(1rem + 1vw);
  vertical-align: middle;
}
