.leagueLabel {
  padding-bottom: 10px;
}

.leagueLabel h1 {
    display: inline;
    padding: 10px;
    vertical-align: middle;
    margin-right: 2vw;
    font-size: calc(10px + 1.8vw);
  }
  
  .leagueLabel img {
    height: calc(10px + 2vw);
    width: auto;
    vertical-align: middle;
  }